.featured-products {
    padding: 20px;
    text-align: center;
}

.featured-products h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #333;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card img {
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 1.2em;
    color: #777;
    font-weight: bold;
}

.product-card button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.product-card button:hover {
    background-color: #ff8f00;
}

.image-container {
  position: relative;
  overflow: hidden;
  background: #f0f0f0;
  min-height: 200px; /* placeholder size */
  display: flex;
  align-items: center;
  justify-content: center;
}

.lazy-image {
  width: 100%;
  height: auto;
  transition: filter 0.3s ease-in-out;
  filter: blur(8px);
}

.lazy-image[src] {
  filter: blur(0);
}


@media (max-width: 1024px) { 
    .products-container {
        grid-template-columns: repeat(2, 1fr); 
        gap: 25px;
    }
}

@media (max-width: 768px) { 
    .featured-products h2 {
        font-size: 2em;
        margin-bottom: 30px;
    }

    .products-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .product-card {
        padding: 15px;
    }

    .product-card img {
        height: 150px;
    }

    .product-card h3 {
        font-size: 1.2em;
    }

    .product-card p {
        font-size: 1em;
    }
}

@media (max-width: 480px) { 
    .featured-products h2 {
        font-size: 1.8em;
        margin-bottom: 20px;
    }

    .products-container {
        grid-template-columns: repeat(2, 1fr); 
        gap: 15px;
    }
    
    .product-card img {
        height: 120px;
    }
    
    .product-card h3 {
        font-size: 1em;
    }
    
    .product-card button {
        padding: 8px 16px;
        font-size: 1em;
    }
}